/* Reset and base styles  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body, iframe, fieldset,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, legend,
dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	height: 100%; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	height: 100%; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */
	font-family: 'Montserrat', sans-serif;
	color: $textColor;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

input, textarea, button {
	font-family: inherit;
	padding: 0;
}

label {
	cursor: pointer;
}

ul {
	list-style-type: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Grid styles */

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* Utility */

.none {
	display: none !important;
}

/* Sticky Footer */

.footer {
	margin-top: auto; /* sticky footer */
}

