.button-outline {
    padding: 0 40px;
    height: 60px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    font-weight: 800;
    font-size: 14px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: rgba(255, 255, 255, 0.2);;
    }

    &:focus {
        outline: none;
        background: #000;
    }
}