.card {
    text-align: center;
}

.card__img {
    margin: 0 auto 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}

.card__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 10px;
        line-height: 1.5;

        min-height: 48px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        min-height: unset;
    }
}

.card__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2;
    color: $paragraphText;

    /* Tablet */
    @media (max-width: 1199px) {
        line-height: 1.6;
    }
}