.package {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;

    text-align: center;
    color: #fff;
}

.package--special {
    background: rgba(48, 79, 254, 0.95);

    .package__title {
        color: #fff;
    }

    .package__period {
        background: rgba(0, 0, 0, 0.1);
    }
}

.package__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #B2B2B2;
}

.package__price {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.package__period {
    display: inline-block;
    height: 24px;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.package__list {
    padding: 40px 15px 0;
    margin-bottom: 58px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1;
}

.package__list-item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }
}

.package__button {
    margin-top: auto;
}