.section-tasks {
    padding: 80px 0 40px;
    border-bottom: 1px solid #e1e1e1;

    /* Tablet */
    @media (max-width: 1199px) {
        padding: 50px 0 20px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-bottom: 10px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding: 40px 0;
    }
}

.section-tasks__row {
    margin-left: 100px;
    margin-right: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-left: 75px;
        margin-right: 0;
    }

    /* Mobile */
    @media (max-width: 899px) {
        flex-direction: row-reverse;
        margin-left: 0;
        align-items: flex-start;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        flex-direction: column-reverse;
    }
}

.section-tasks__content {
    width: 570px;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 495px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 270px;
        margin-top: 5px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        width: 290px;
        text-align: center;
        margin-top: 0;
    }
}

.section-tasks__header {
    margin-bottom: 30px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 30px;

        /* Tablet */
        @media (max-width: 1199px) {
            margin-bottom: 20px;
        }

        /* Mobile XS */
        @media (max-width: 599px) {
            margin-bottom: 10px;
        }
    }
}

.section-tasks__text {
    width: 400px;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2;
    color: $paragraphText;

    p + p {
        margin-top: 15px;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        width: unset;
        max-width: 420px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        line-height: 1.72;
    }
}

.section-tasks__img {

    /* Tablet */
    @media (max-width: 1199px) {
        width: 265px;
    }
    
    /* Mobile */
    @media (max-width: 899px) {
        width: 270px;
    }
    
    /* Mobile XS */
    @media (max-width: 599px) {
        width: 100%;
        margin-bottom: 10px;

        img {
            width: 270px;
            margin: 0 auto;
        }
    }

}